DB_URL="mongodb+srv://<db_username>:<db_password>@<db_cluster>.mongodb.net/?appName=<app_name>"
FRONTEND_URL="http://localhost:5173"
PORT=3000
JWT_SECRET="with great power comes great responsibility"
RESEND_API_KEY=
IGDB_CLIENT_ID=
IGDB_ACCESS_TOKEN=